/*******************
  07 ALERT START
********************/
$alert-colors:(
    "primary":    $theme-primary,
    "secondary":  $theme-secondary,
    "success":    $theme-success,
    "info":       $theme-info,
    "warning":    $theme-warning,
    "danger":     $theme-danger,
    "light":      $theme-light,
    "dark":       $theme-dark,
);

.alert{
    padding: 15px 20px;
    box-sizing: border-box;
    position: relative;
    .close-alert{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        padding: 15px;
    }
}

@each  $alert-colorname , $alert-color  in $alert-colors {
    .#{$alert-colorname}{
        background-color: $alert-color; 
        color: $white;     
        border-color: $alert-color;
        .alert-link{
            color: $white;     
        }
    }
    .outline-#{$alert-colorname}{
        color: $alert-color ;
        border: 1px solid $alert-color;           
    }
    .rounded-#{$alert-colorname}{
        background-color: $alert-color; 
        color: $white;     
        border-color: $alert-color;
        border-radius:30px;
    }
    .outline-rounded-#{$alert-colorname}{       
        color: $alert-color;            
        border-radius:30px;
        border: 1px solid $alert-color;
    }
}

.alert-light{
    color: $font-light;
    .alert-link{
        color: $font-light;     
    }
}
.alert-light-outline{
    color: $font-light;
}

.card.alerts{   
    .card-title-desc{    
        margin-block-end: 24px;
        font-size: 14px;
    }   
}