-var calendar = true ;
doctype html
html(lang="en")
  include ../components/mixinfiles

  +headerfile("Calendar")
  
  body

    // Loader Start
    +loader
    // Loader End

    // Header Start
    +header
    // Header End

    .themebody-wrap

      // breadcrumb start
      +codexbreadcrumb('calendar','application')
      // breadcrumb end

      // theme body start
      .theme-body.codex-calendar
        .grid.grid-cols-12.page-gap
          .col-span-12
            .card
              .card-body
                .grid.grid-cols-12.page-gap
                  .col-span-12(class="xl:col-span-3")
                    ul#codex-events-list.events-list
                      li.fc-event.bg-primary
                        i.fa.fa-birthday-cake
                        | Birthday Party
                      li.fc-event.bg-secondary
                        i.fa.fa-handshake-o
                        | Metting
                      li.fc-event.bg-success
                        i.fa.fa-graduation-cap
                        | Holidays
                      li.fc-event.bg-warning
                        i.fa.fa-bus
                        | Travel
                      li.fc-event.bg-info
                        i.fa.fa-building-o
                        | Company
                      li.hidden
                        p
                          input#drop-remove(type='checkbox')
                          label(for='drop-remove') remove after drop
                  .col-span-12(class="xl:col-span-9")                 
                    #codex-calendar
      // theme body end


      #e-modal.modal.fade(tabindex='-1')         
        .modal-content
          .modal-header
            h5.modal-title Hospital Events
            .modal-close
              i.ti-close
          .modal-body
            form#form-event.needs-validation(name='e-form' novalidate='')
              .grid.grid-cols-12
                .col-span-12
                  .form-group
                    label.form-label Event Name
                    input#startdate(type='hidden')
                    input#allDay(type='hidden')
                    input#e-title.form-control(placeholder='Add Event Name' type='text' name='title' required='' value='')
                    .invalid-feedback Please provide a valid event name
              .grid.grid-cols-12.mt-2
                .col-span-12.text-center                     
                  button#btn-delete-event.btn.btn-danger(type='button') Delete
                  button#btn-save-event.btn.btn-success(type='submit') Save


    // footer start
    +footer
    // footer end
    
    // customzier start
    include ../components/customizer
    // customzier end

    +footerfile