-var Pe7_icon = true;

doctype html
html(lang="en")
  include ../components/mixinfiles
  +headerfile("Pe7 Icons")
  body

    +header    

    .themebody-wrap

      // breadcrumb start
      +codexbreadcrumb('Pe-icon-7-stroke Icons','icons')
      // breadcrumb end

      // theme body start
      .theme-body       
          .grid.grid-cols-12  
              .col-span-12
                  .card 
                      .card-body  
                          ul.iconGroup
                              li.iconList
                                  i.pe-7s-album
                              li.iconList
                                  i.pe-7s-arc
                              li.iconList
                                  i.pe-7s-back-2
                              li.iconList
                                  i.pe-7s-bandaid
                              li.iconList
                                  i.pe-7s-car
                              li.iconList
                                  i.pe-7s-diamond
                              li.iconList
                                  i.pe-7s-door-lock
                              li.iconList
                                  i.pe-7s-eyedropper
                              li.iconList
                                  i.pe-7s-female
                              li.iconList
                                  i.pe-7s-gym
                              li.iconList
                                  i.pe-7s-hammer
                              li.iconList
                                  i.pe-7s-headphones
                              li.iconList
                                  i.pe-7s-helm
                              li.iconList
                                  i.pe-7s-hourglass
                              li.iconList
                                  i.pe-7s-leaf
                              li.iconList
                                  i.pe-7s-magic-wand
                              li.iconList
                                  i.pe-7s-male
                              li.iconList
                                  i.pe-7s-map-2
                              li.iconList
                                  i.pe-7s-next-2
                              li.iconList
                                  i.pe-7s-paint-bucket
                              li.iconList
                                  i.pe-7s-pendrive
                              li.iconList
                                  i.pe-7s-photo
                              li.iconList
                                  i.pe-7s-piggy
                              li.iconList
                                  i.pe-7s-plugin
                              li.iconList
                                  i.pe-7s-refresh-2
                              li.iconList
                                  i.pe-7s-rocket
                              li.iconList
                                  i.pe-7s-settings
                              li.iconList
                                  i.pe-7s-shield
                              li.iconList
                                  i.pe-7s-smile
                              li.iconList
                                  i.pe-7s-usb
                              li.iconList
                                  i.pe-7s-vector
                              li.iconList
                                  i.pe-7s-wine
                              li.iconList
                                  i.pe-7s-cloud-upload
                              li.iconList
                                  i.pe-7s-cash
                              li.iconList
                                  i.pe-7s-close
                              li.iconList
                                  i.pe-7s-bluetooth
                              li.iconList
                                  i.pe-7s-cloud-download
                              li.iconList
                                  i.pe-7s-way
                              li.iconList
                                  i.pe-7s-close-circle
                              li.iconList
                                  i.pe-7s-id
                              li.iconList
                                  i.pe-7s-angle-up
                              li.iconList
                                  i.pe-7s-wristwatch
                              li.iconList
                                  i.pe-7s-angle-up-circle
                              li.iconList
                                  i.pe-7s-world
                              li.iconList
                                  i.pe-7s-angle-right
                              li.iconList
                                  i.pe-7s-volume
                              li.iconList
                                  i.pe-7s-angle-right-circle
                              li.iconList
                                  i.pe-7s-users
                              li.iconList
                                  i.pe-7s-angle-left
                              li.iconList
                                  i.pe-7s-user-female
                              li.iconList
                                  i.pe-7s-angle-left-circle
                              li.iconList
                                  i.pe-7s-up-arrow
                              li.iconList
                                  i.pe-7s-angle-down
                              li.iconList
                                  i.pe-7s-switch
                              li.iconList
                                  i.pe-7s-angle-down-circle
                              li.iconList
                                  i.pe-7s-scissors
                              li.iconList
                                  i.pe-7s-wallet
                              li.iconList
                                  i.pe-7s-safe
                              li.iconList
                                  i.pe-7s-volume2
                              li.iconList
                                  i.pe-7s-volume1
                              li.iconList
                                  i.pe-7s-voicemail
                              li.iconList
                                  i.pe-7s-video
                              li.iconList
                                  i.pe-7s-user
                              li.iconList
                                  i.pe-7s-upload
                              li.iconList
                                  i.pe-7s-unlock
                              li.iconList
                                  i.pe-7s-umbrella
                              li.iconList
                                  i.pe-7s-trash
                              li.iconList
                                  i.pe-7s-tools
                              li.iconList
                                  i.pe-7s-timer
                              li.iconList
                                  i.pe-7s-ticket
                              li.iconList
                                  i.pe-7s-target
                              li.iconList
                                  i.pe-7s-sun
                              li.iconList
                                  i.pe-7s-study
                              li.iconList
                                  i.pe-7s-stopwatch
                              li.iconList
                                  i.pe-7s-star
                              li.iconList
                                  i.pe-7s-speaker
                              li.iconList
                                  i.pe-7s-signal
                              li.iconList
                                  i.pe-7s-shuffle
                              li.iconList
                                  i.pe-7s-shopbag
                              li.iconList
                                  i.pe-7s-share
                              li.iconList
                                  i.pe-7s-server
                              li.iconList
                                  i.pe-7s-search
                              li.iconList
                                  i.pe-7s-film
                              li.iconList
                                  i.pe-7s-science
                              li.iconList
                                  i.pe-7s-disk
                              li.iconList
                                  i.pe-7s-ribbon
                              li.iconList
                                  i.pe-7s-repeat
                              li.iconList
                                  i.pe-7s-refresh
                              li.iconList
                                  i.pe-7s-add-user
                              li.iconList
                                  i.pe-7s-refresh-cloud
                              li.iconList
                                  i.pe-7s-paperclip
                              li.iconList
                                  i.pe-7s-radio
                              li.iconList
                                  i.pe-7s-note2
                              li.iconList
                                  i.pe-7s-print
                              li.iconList
                                  i.pe-7s-network
                              li.iconList
                                  i.pe-7s-prev
                              li.iconList
                                  i.pe-7s-mute
                              li.iconList
                                  i.pe-7s-power
                              li.iconList
                                  i.pe-7s-medal
                              li.iconList
                                  i.pe-7s-portfolio
                              li.iconList
                                  i.pe-7s-like2
                              li.iconList
                                  i.pe-7s-plus
                              li.iconList
                                  i.pe-7s-left-arrow
                              li.iconList
                                  i.pe-7s-play
                              li.iconList
                                  i.pe-7s-key
                              li.iconList
                                  i.pe-7s-plane
                              li.iconList
                                  i.pe-7s-joy
                              li.iconList
                                  i.pe-7s-photo-gallery
                              li.iconList
                                  i.pe-7s-pin
                              li.iconList
                                  i.pe-7s-phone
                              li.iconList
                                  i.pe-7s-plug
                              li.iconList
                                  i.pe-7s-pen
                              li.iconList
                                  i.pe-7s-right-arrow
                              li.iconList
                                  i.pe-7s-paper-plane
                              li.iconList
                                  i.pe-7s-delete-user
                              li.iconList
                                  i.pe-7s-paint
                              li.iconList
                                  i.pe-7s-bottom-arrow
                              li.iconList
                                  i.pe-7s-notebook
                              li.iconList
                                  i.pe-7s-note
                              li.iconList
                                  i.pe-7s-next
                              li.iconList
                                  i.pe-7s-news-paper
                              li.iconList
                                  i.pe-7s-musiclist
                              li.iconList
                                  i.pe-7s-music
                              li.iconList
                                  i.pe-7s-mouse
                              li.iconList
                                  i.pe-7s-more
                              li.iconList
                                  i.pe-7s-moon
                              li.iconList
                                  i.pe-7s-monitor
                              li.iconList
                                  i.pe-7s-micro
                              li.iconList
                                  i.pe-7s-menu
                              li.iconList
                                  i.pe-7s-map
                              li.iconList
                                  i.pe-7s-map-marker
                              li.iconList
                                  i.pe-7s-mail
                              li.iconList
                                  i.pe-7s-mail-open
                              li.iconList
                                  i.pe-7s-mail-open-file
                              li.iconList
                                  i.pe-7s-magnet
                              li.iconList
                                  i.pe-7s-loop
                              li.iconList
                                  i.pe-7s-look
                              li.iconList
                                  i.pe-7s-lock
                              li.iconList
                                  i.pe-7s-lintern
                              li.iconList
                                  i.pe-7s-link
                              li.iconList
                                  i.pe-7s-like
                              li.iconList
                                  i.pe-7s-light
                              li.iconList
                                  i.pe-7s-less
                              li.iconList
                                  i.pe-7s-keypad
                              li.iconList
                                  i.pe-7s-junk
                              li.iconList
                                  i.pe-7s-info
                              li.iconList
                                  i.pe-7s-home
                              li.iconList
                                  i.pe-7s-help2
                              li.iconList
                                  i.pe-7s-help1
                              li.iconList
                                  i.pe-7s-graph3
                              li.iconList
                                  i.pe-7s-graph2
                              li.iconList
                                  i.pe-7s-graph1
                              li.iconList
                                  i.pe-7s-graph
                              li.iconList
                                  i.pe-7s-global
                              li.iconList
                                  i.pe-7s-gleam
                              li.iconList
                                  i.pe-7s-glasses
                              li.iconList
                                  i.pe-7s-gift
                              li.iconList
                                  i.pe-7s-folder
                              li.iconList
                                  i.pe-7s-flag
                              li.iconList
                                  i.pe-7s-filter
                              li.iconList
                                  i.pe-7s-file
                              li.iconList
                                  i.pe-7s-expand1
                              li.iconList
                                  i.pe-7s-exapnd2
                              li.iconList
                                  i.pe-7s-edit
                              li.iconList
                                  i.pe-7s-drop
                              li.iconList
                                  i.pe-7s-drawer
                              li.iconList
                                  i.pe-7s-download
                              li.iconList
                                  i.pe-7s-display2
                              li.iconList
                                  i.pe-7s-display1
                              li.iconList
                                  i.pe-7s-diskette
                              li.iconList
                                  i.pe-7s-date
                              li.iconList
                                  i.pe-7s-cup
                              li.iconList
                                  i.pe-7s-culture
                              li.iconList
                                  i.pe-7s-crop
                              li.iconList
                                  i.pe-7s-credit
                              li.iconList
                                  i.pe-7s-copy-file
                              li.iconList
                                  i.pe-7s-config
                              li.iconList
                                  i.pe-7s-compass
                              li.iconList
                                  i.pe-7s-comment
                              li.iconList
                                  i.pe-7s-coffee
                              li.iconList
                                  i.pe-7s-cloud
                              li.iconList
                                  i.pe-7s-clock
                              li.iconList
                                  i.pe-7s-check
                              li.iconList
                                  i.pe-7s-chat
                              li.iconList
                                  i.pe-7s-cart
                              li.iconList
                                  i.pe-7s-camera
                              li.iconList
                                  i.pe-7s-call
                              li.iconList
                                  i.pe-7s-calculator
                              li.iconList
                                  i.pe-7s-browser
                              li.iconList
                                  i.pe-7s-box2
                              li.iconList
                                  i.pe-7s-box1
                              li.iconList
                                  i.pe-7s-bookmarks
                              li.iconList
                                  i.pe-7s-bicycle
                              li.iconList
                                  i.pe-7s-bell
                              li.iconList
                                  i.pe-7s-battery
                              li.iconList
                                  i.pe-7s-ball
                              li.iconList
                                  i.pe-7s-back
                              li.iconList
                                  i.pe-7s-attention
                              li.iconList
                                  i.pe-7s-anchor
                              li.iconList
                                  i.pe-7s-albums
                              li.iconList
                                  i.pe-7s-alarm
                              li.iconList
                                  i.pe-7s-airplay

      // theme body end 

                     
    // footer start 
    +footer    
    // footer end


    // customzier start
    include ../components/customizer
    // customzier end

    +footerfile        