doctype html
html(lang="en")
  include ../components/mixinfiles
  +headerfile("Pricing")
  body

    // Loader Start
    +loader
    // Loader End

    // Header Start
    +header
    // Header End

    .themebody-wrap

      // breadcrumb start
      +codexbreadcrumb('pricing','ecommerce')
      // breadcrumb end


      // theme body start
      .theme-body.cdx-row
        .grid.grid-cols-12.cdx-gap
          .col-span-12
            h4.inner-title pricing simple            
          .col-span-12(class="2xl:col-span-3 sm:col-span-6")
            +pricingsimple('Standard','$10.00','10GB','10','5','10','10GB')
          .col-span-12(class="2xl:col-span-3 sm:col-span-6")
            +pricingsimple('business','$20.00','20GB','20','10','20','20GB')
          .col-span-12(class="2xl:col-span-3 sm:col-span-6")
            +pricingsimple('priemimum','$30.00','20GB','20','10','20','30GB')
          .col-span-12(class="2xl:col-span-3 sm:col-span-6")
            +pricingsimple('extra','$40.00','20GB','20','10','20','40GB')
        .grid.grid-cols-12.cdx-gap.mt-24
          .col-span-12
            h4.inner-title pricing primary
          .col-span-12(class="2xl:col-span-3 sm:col-span-6")
            +pricingadvance('','Standard','$10.00',' fa fa-motorcycle','10GB','10','5','10','10GB','btn-primary')
          .col-span-12(class="2xl:col-span-3 sm:col-span-6")
            +pricingadvance('','business','$20.00','fa fa-car','20GB','20','10','20','20GB','btn-primary')
          .col-span-12(class="2xl:col-span-3 sm:col-span-6")
            +pricingadvance('','priemimum','$30.00','fa fa-train','20GB','20','10','20','30GB','btn-primary')
          .col-span-12(class="2xl:col-span-3 sm:col-span-6")
            +pricingadvance('','extra','$40.00','fa fa-rocket','20GB','20','10','20','40GB','btn-primary')
        .grid.grid-cols-12.cdx-gap.mt-24
          .col-span-12
            h4.inner-title pricing advance
          .col-span-12(class="2xl:col-span-3 sm:col-span-6")
            +pricingadvance('','Standard','$10.00',' fa fa-motorcycle','10GB','10','5','10','10GB','btn-primary')
          .col-span-12(class="2xl:col-span-3 sm:col-span-6")
            +pricingadvance('secondary','business','$20.00','fa fa-car','20GB','20','10','20','20GB','btn-secondary')
          .col-span-12(class="2xl:col-span-3 sm:col-span-6")
            +pricingadvance('info','priemimum','$30.00','fa fa-train','20GB','20','10','20','30GB','btn-info')
          .col-span-12(class="2xl:col-span-3 sm:col-span-6")
            +pricingadvance('warning','extra','$40.00','fa fa-rocket','20GB','20','10','20','40GB','btn-warning')
      // theme body end
                     
    // footer start
    +footer
    // footer end

    // customzier start
    include ../components/customizer
    // customzier end
    
    +footerfile